<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savvy Kwata</title>
    <link rel="stylesheet" href="../static/style/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <nav>
        <div class="navLogo">
            SAVVY KWATA
        </div>
        <div class="navIcons">
            <span class="material-symbols-outlined ">
                search
            </span>
            <span class="material-symbols-outlined " onclick="openBottomNav()">
                menu
            </span>
        </div>
    </nav>

    <div class="aboutContents">
        <div class="goBack" onclick="goto('/')">
            <span class="material-symbols-outlined">
                keyboard_backspace
            </span>
        </div>
        <div class="aboutUs">
            <h2>ABOUT US</h2>
           <div class="contentType1">
            <div class="aboutUsImg">
                <img src="../static/img/aboutSavvy.png" alt="" srcset="">
            </div>
            <div class="aboutUsText">
                SAVVY Kwata is a multidisciplinary and multifunctional platform. It is at once, a library and a community space 
                as well as a place for the preservation and transmission of knowledge which is situated beyond the book. We are a
                 space for the published and the unpublished, the written, the spoken, the danced, sung, painted, sculpted and unrecorded. 
                 SAVVY Kwata engages with these and the many other practices which serve as the nesting grounds of our hidden knowledge. 
                 SAVVY Kwata engages with these and many 
                other mediums which serve as the nesting grounds of hidden ancestral knowledge and in pursuit of the preservation 
                of traditional practices around arts and crafts, culture, education and more broadly the cultural heritage of Cameroon, 
                and the African world at large
            </div>
           </div>
        </div>

        <div class="aboutUs">
            <h2>OUR TEAM / COMMUNITY</h2>
            <div class="contentType2">
                <div class="aboutUsImg">
                    <img src="../static/img/team.png" alt="" srcset="">
                </div>
                <div class="aboutUsText">
                    Ndoh Conrad Njuh, Ndongfack Edith Ndoping, Prescilia Tchingi, Ako Polycarp Enow Eyong Egbe, Carine Beri Nyuyki, Daniel Tanteh 
                    Ndashi, SAVVY Contemporary team Berlin, SAVVY Book Club Bamenda team
                </div>
            </div>
        </div>

        <div class="aboutUs">
            <h2>BECOME A FRIEND</h2>
            <div class="contentType1">
                <div class="aboutUsImg">
                    <img src="../static/img/becomeAfriend.png" alt="" srcset="">
                </div>
                <div class="aboutUsText">
                    As a SAVVY Kwata friend you support the work and the independent programming of SAVVY Kwata 
                    - a library, cultural centre and community space located in Limbe, but working across the entire Anglophone region of Cameroon. 
                    Since 2020, SAVVY Kwata has, continuously and with limited but vital support, established a network of teachers, students, activists, artists, 
                    labourers and traditional leaders to use decolonial pedagogical and artistic tools to engage our community at the grassroots level. 
                    This work has taken place under extreme conditions of duress and as the Anglophone crisis moves into its eighth year in 2024, we need the support of our SAVVY Friends more than ever.
                    <br> <br>
                    <li id="aboutUsli">
                        Grow our Library of Lost and Found <br> - A library of exclusively African books with a broad selection of Cameroonian authors.
                    </li>
                    <li id="aboutUsli">
                        Enable community sensitisation of the colonial roots of our current crisis through workshops, book clubs and other means of gathering
                     through pedagogy and the arts in the conflict-ridden North West Region.
                    </li>
                </div>
            </div>
        </div>


        <div class="aboutUs">
            <h2>BECOME A PARTENER / COLLABORATOR</h2>
            <div class="contentType2">
                <div class="aboutUsImg">
                    <img src="../static/img/partner.png" alt="" srcset="">
                </div>
                <div class="aboutUsText">
                    SAVVY Kwata is always looking for cultural organisations, institutions and people who are interested in collaborating. 
                    Please contact us at Kwatalimbe@savvy-contemporary.com with any enquiries.
                </div>
            </div>
        </div>

        <div class="visitUs">
            <h2>VISIT US</h2>
            <div class="visitUsImg">
                <img src="../static/img/map.png" alt="">
            </div>
        </div>

        <div class="bottomBtns">
            <div class="btn" onclick="gotoTopOfPage()">
                <span class="material-symbols-outlined">
                    keyboard_backspace
                </span>
            </div>
            <div class="btn"  onclick="goto('/')">
                <span class="material-symbols-outlined">
                    north
                </span>
            </div>
        </div>

        <br><br>
    </div>
    
    <footer >
        <div class="footer">
            <div class="fTitle">
                SAVVY KWATA
            </div>
            <div class="fLocation">
                <h3>Cameroon</h3>
                SAVVY Group Association <br>
                Manga WIlliams Avenue <br>
                Down Beach <br>
                P.O Box 142, Limbe
            </div>
            <div class="fContact">
                <h3>Contact</h3>
                <div class="contact">
                    <span class="material-symbols-outlined">mail</span>
                    <a href="Kwatalimbe@savvy-contemporary.com" target="_blank">Kwatalimbe@savvy-contemporary.com</a>
                </div><br>
                <div class="contact">
                    <span class="material-symbols-outlined">call</span>
                     +237 672628075 
                </div><br>
                <div class="contact">
                    <img src="../static/img/whatsApp.png" alt="" id="icon">
                     +237 672628075 
                </div><br>
            </div>
            <div class="fFollowUs">
                <h3>Follow us in</h3>
                <img src="../static/img/IG.png" alt="" id="icon"> 
                <img src="../static/img/fb.png" alt="" id="icon"> 
                <img src="../static/img/in.png" alt="" id="icon"> 
                <img src="../static/img/X.png" alt="" id="icon"> 
                
            </div>
        </div>
      <div class="copywriteInfo">
        &copy; SAVVY KWATA 2024
      </div>
    </footer>


    <div class="bottomNav" id="bottomNav">
        <div class="bottomNav-navBar">
            <div class="btnNavBarLogo">
                SAVVY Kwata
            </div>
            <div class="btnNavBarClose" onclick="closeBottomNav()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
            
        </div>
        <div class="btnNavImg">
        </div>
        <div class="bottomNav-contents">
            <div class="bottomNav-content1">
                <li onclick="goto('/about')">ABOUT US</li>
                <li>GALLERY</li>
                <li>GET IN TOUCH</li>
            </div>
            <div class="bottomNav-content2">
                <b>Tuesday-Saturday</b> <br>
                11:00 am-5:30 pm <br>
                <b>By Appointment</b> <br><br>
                Closed: <br>
                Sundays & Public holidays
            </div>
        </div>
        <div class="bottomArrow" onclick="closeBottomNav()">
            <span class="material-symbols-outlined">
                north
            </span>
        </div>
    </div>

</body>
<script src="../static/js/functions.js"></script>
</html>